body {
    width: 98vw;
    /* margin: 0 auto; */
}

h1, h3 {
    text-align: center;
    color: #383807;
}

p {
    color: #333302;
}

.form-container {
    margin: 0 auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.confirm-item {
    justify-content: start;
}

.genders {
    width: 48%;
    display: flex;
    flex-direction: column;
}

button, input {
    border-radius: 25px;
    outline: none;
    border: 0.3px solid silver;
}

button {
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}

.errorMessage {
    margin-top: 10px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.welcome {
    margin-top: 10px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.disabled:hover {
    cursor: not-allowed;
}